/** CSS Styling by elements **/
*{
    background-color: #fcf7ff;
    font-family: 'Times New Roman', Times, serif;
}
body{
    color: #1481ba; font-size: 20px; 
}
h1{
    color: #0caadc; text-align: center; font-size: 40px; 
}
.name{
    border: 2px #80ded9;
}
.email{
    border: 2px #6d9dc5;
}
select{
    border:2px solid #6d9dc5;
    color: #636c72;
}